.tabla {
    height: 50px !important;
    overflow: scroll;
}

.listContent{
    height: 100%;
    width: 80%;
    margin:0 auto;
    margin-top: 20px;
}

.alert-info{
    background-color: #ffffff;
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 0;
    color:#fff;
    cursor: pointer;
    /*border-bottom: 1px dotted black;*/
    /*padding: 10px;*/
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #555;
    text-align: center;
    font-weight:bold;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 1;

    /* Position the tooltip */
    position: absolute;
    z-index:1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;    
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.spinner{
    position: absolute;
    z-index: 1000;
    margin-top: 15%;
    margin-left: 40%;
    display: none;

}

.alert{
    bottom: all;
    position: absolute;
    z-index: 1000;
    display: none;
    
}

.alert-custom {
      color: #99004d;
      background-color: #f169b4;
      border-color: #800040;
    }