<div>
	<a routerLink="/principal"><button class='boton-panel' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">home</div><span class="tooltiptext">Inicio</span></div></button></a>
	<button class='boton-panel' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">list</div><span class="tooltiptext">Ver lista</span></div></button>
	<button class='boton-panel' (click)="clickToolButton()"><div class="tooltip"><div class="material-icons md-light">build</div><span class="tooltiptext">Configuraciones</span></div></button>
</div>
<div class="navPanelContent2" id="navPanel2">
	<button class='boton-panel2 ' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">note_add</div><span class="tooltiptext">Crear parte</span></div></button>
	<button class='boton-panel2 ' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">create_new_folder</div><span class="tooltiptext">Crear Orden</span></div></button>
	<button class='boton-panel2 ' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">storage</div><span class="tooltiptext">Tipos</span></div></button>			
	<a routerLink="/recursos"><button class='boton-panel2 ' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">assignment_ind</div><span class="tooltiptext">Recursos</span></div></button></a>
	<button class='boton-panel2 ' (click)="clickHomeButton($event)"><div class="tooltip"><div class="material-icons md-light">supervisor_account</div><span class="tooltiptext">Clientes</span></div></button>
</div>      