<div class="listContent">
  <table id='table' class="table table-bordered table-dark table-hover color-font tabla" style = 'padding-top:10px; overflow:scroll;'>
    <thead class="thead-light">
      <tr>
        <th scope="col">
        <a href="#" (click)="orderBy('idParte')" ><font color="grey">Parte</font></a>
        </th>
        <th scope="col">
          <a href="#" (click)="orderBy('otParte')"><font color="grey">Ot</font></a>
        </th>
        <th scope="col">
          <a href="#" (click)="orderBy('tipoParte')"><font color="grey">Tipo</font></a>
        </th>      
        <th scope="col">
          <a href="#" (click)="orderBy('recursoParte')"><font color="grey">Recurso</font></a>
        </th>
        <th scope="col">
          <a href="#" (click)="orderBy('clienteParte')"><font color="grey">Cliente</font></a>
        </th>
        <th scope="col">
          <a href="#" (click)="orderBy('estadoParte')"><font color="grey">Estado</font></a>
        </th>              
        <th scope="col">
          <a href="#" (click)="orderBy('fechaParte')"><font color="grey">Fecha</font></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let parte of partes | orderBy: order'>
        <td (dblclick)="getParte(parte.idParte)"><div class="tooltip">{{parte.idParte}}<span class="tooltiptext">Doble click para abrir</span></div></td>
        <td><div class="tooltip"><div>{{parte.otNombre}}</div><span class="tooltiptext">{{parte.otDescripcion}}</span></div></td>   
        <td> <div class="tooltip">{{parte.tipoParte}}<span class="tooltiptext">{{parte.descripcionTipoParte}}</span></div></td>         
        <td><div class="tooltip">{{parte.recursoParte}}</div></td>
        <td><div class="tooltip">{{parte.clienteParte}}</div></td>          
        <td><div class="tooltip">{{parte.estadoParte}}</div></td>          
        <td><div class="tooltip">{{parte.fechaParte}}</div></td>
      </tr>    
    </tbody>
  </table>
</div>
