@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
	height:100%;
}

body{
	height:100%;
	background-color:#252830;
	margin:0;
}
.content{
	height:100%;
	width: 100%;
}

.content1{
	height: 100%;
	width:70px;
	margin:0;
	float:left;
}

.content2{
	height: 100%;
	margin-left: 70px;
}

.content3{
	width: 100%;
	height: 15%;
	margin-top: 50px;
	float: left;	
}

.content4{
	width: 100%;
	height: 30%;
	margin-bottom: 10%;
	float: left;
}

.content5{
	width: 100%;
	height: 50%;
	float: left;
}

.navPanelContent{	
	height: 100%;
	background-color:#30343E;
}

.navPanelContent2{	
	display: none;
	background-color:#585858;
	position: absolute;
	margin-left: 70px;
	top:0px;
	float:left;
	z-index: 1000;
	width: 70px;
}


.thead-light{
	background-color: silver;
	color: #3f3f3f;
}
.color-font{
	color:silver;
}
.tabla{
	overflow-y: scroll;
	max-height: 50px;
}

.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }