<div class="listContent">
  <table id='table' class="table table-bordered table-dark table-hover color-font tabla" style = 'padding-top:10px; overflow:scroll;'>
    <thead class="thead-light">
      <tr>
        <th scope="col">
        <a href="#" (click)="orderBy('idParte')" ><font color="grey">Nombre</font></a>
        </th>
        <th scope="col">
          <a href="#" (click)="orderBy('otParte')"><font color="grey">Apellidos</font></a>
        </th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor='let recurso of recursos'>
        <td><div class="tooltip" (dblclick)="openVerticallyCentered(content); setDatasRecurso(recurso.nombreRecurso, recurso.apellidosRecurso, recurso.idRecurso, recurso.emailRecurso, recurso.claveRecurso)">{{recurso.nombreRecurso}}<span class="tooltiptext">Doble click para abrir</span></div></td>
        <td><div class="tooltip"><div>{{recurso.apellidosRecurso}}</div><span class="tooltiptext"></span></div></td>
      </tr>    
    </tbody>
  </table>

  <span matTooltip="Añadir nuevo recurso">
    <button class="btn btn-secondary btn-block material-icons" style="cursor: pointer;" (click)="openVerticallyCentered(content2)">note_add</button>  
  </span>

</div>

<ng-template id="modal" #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modificar recurso</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="nombreRecurso" matInput placeholder="Nombre recurso">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="apellidosRecurso" matInput placeholder="Apellidos recurso">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="email" matInput placeholder="email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor introduce una dirección de correo válida
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email es <strong>obligatorio</strong>
      </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input [(ngModel)]="clave" matInput placeholder="contraseña" [formControl]="passwordFormControl"
             [errorStateMatcher]="matcher">      
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Contraseña es <strong>obligatoria</strong>
      </mat-error>
  </mat-form-field>
  </div>
  <div class="modal-footer">
    <span matTooltip="Modificar recurso">
      <button  id="upLoadButton" type="button" class="btn btn-secondary" style="cursor: pointer;" (click)="onClickUploadButton();">
        <app-icon svgIcon="rubish"></app-icon>
      </button>
    </span>  
    <ngb-alert id = "alert" class = "alert" [dismissible]="false" type="danger">
    <strong>Atención!</strong> Parece que algo no ha ido bien, intentalo de nuevo más tarde.
  </ngb-alert>  
  <ngb-alert id = "errorDatas" (close)="closeAlert()" class = "alert" [dismissible]="true" type="danger">
    <strong>Atención!</strong> Todos los campos deben ser rellenados correctamente.
  </ngb-alert>  
  </div>
  <mat-spinner id="spinner" class="spinner"></mat-spinner>  
</ng-template>

<ng-template id="modal" #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Añadir recurso</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="nombreRecurso" matInput placeholder="Nombre recurso">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="apellidosRecurso" matInput placeholder="Apellidos recurso">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  </div>
  <div class="modal-footer">
    <span matTooltip="Guardar recurso">
      <button type="button" class="btn btn-secondary" style="cursor: pointer;" (click)="onClickSaveButton();">
        <app-icon svgIcon="rubish"></app-icon>
      </button>
    </span>  
    <ngb-alert id = "alert" class = "alert" [dismissible]="false" type="danger">
    <strong>Atención!</strong> Parece que algo no ha ido bien, intentalo de nuevo más tarde.
  </ngb-alert>  
  </div>
  <mat-spinner id="spinner" class="spinner"></mat-spinner>  
</ng-template>